@model UserAdminViewModel
@using QuarterlySales.Models.DataAcccess;
<h1>Manage Users</h1>

<a asp-controller="Account" asp-action="Register">Add a User</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Roles</th>
            <th>Delete</th>
            <th>Add</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @foreach (var role in user.UserRoles)
                    {
                        <div class="rounded-pill">@role</div>
                    }
                </td>
                <td>
                    <form asp-action="Delete" asp-route-username="@user.UserName">
                        <button type="submit" class="btn btn-primary">Delete User</button>
                    </form>
                </td>
                <td>
                    <form asp-action="AddToAdmin" asp-route-username="@user.UserName">
                        <button type="submit" class="btn btn-primary">Add To Admin</button>
                    </form>
                </td>
                <td>
                    <form asp-action="RemoveFromAdmin" asp-route-username="@user.UserName">
                        <button type="submit" class="btn btn-primary">Remove From Admin</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
